<ion-menu class="menu_main" side="start" content-id="content">
  <ion-header>
      <ion-toolbar >
          <ion-title>Left Menu</ion-title>
      </ion-toolbar>
  </ion-header>
  <ion-content padding>
      Hello World!
  </ion-content>
</ion-menu>
<!-- <ion-menu-controller></ion-menu-controller> -->

<ion-content id="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>store</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-button (click)="backHome()">Back Home</ion-button>
  </ion-content>
<!-- <ion-card style="display:inline-block;width:300px">
  <ion-card-header>
      <ion-card-title>Hello World</ion-card-title>
  </ion-card-header>
  <div style="padding:10px 10px;text-align:right;">
      <ion-button color="primary" class="button_details">Details</ion-button>
  </div>
</ion-card> -->
</ion-content>

<!-- <ion-router-outlet id="menu-example"></ion-router-outlet> -->

